#cs1300-gallery {
  background-color: lightblue;
}

.gallery-item-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;  /* you need this to align images, can be flex or block*/
  justify-content: center; /*x axis*/
  flex-direction: row; /*alignment in row or center */
  align-items: center; /*y axis*/
  flex-wrap: wrap; /* changes with sizing */
}

.gallery-item{
  height:auto;
  width:auto;
  max-height:250px;
  max-width:250px;
  margin: 10px;
}

.sugar-fruits {
  background-color: lightgreen;
  display: flex; 
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-style: dashed;
  margin: 10px;
  height: 50px;
  flex: auto;
}

#beginPara{
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 10px;
}